header h1 {
  background-color: var(--liteBlue);
  color: var(--darkBlue);
  margin: 7px 0;
  padding: 5px 5px 5px 30px;
  text-align: right;
  font-weight: bold;
}

header nav {
  margin-top: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li {
  margin: 0 10px;
  padding: 0 10px;
  border-bottom: var(--liteBlue) 3px solid;
  color: var(--liteBlue);
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  color:rgb(146, 204, 205);
}

header nav ul li:hover {
  color:rgb(208, 244, 245);
  border-bottom: rgb(208, 244, 245) 3px solid;
}