:root {
  --liteBlue: rgb(146, 204, 205);
  --darkBlue: rgb(49, 52, 61);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: rgb(223, 241, 240);
}

header, footer {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me, .work, #contact {
  padding-top: 20px;
  background-color: var(--liteBlue);
  background-color: rgb(223, 241, 240);
}

.header-text {
  border-bottom: var(--darkBlue) solid 4px;
  text-align:center;
  margin: 50px 25%;
  margin-bottom: 50px;
  font-size: xx-large;
}